<a href="https://colab.research.google.com/github/mohammad0076/cse_python_309_B/blob/master/Copy_of_B1_ct2_17201106.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1

In [ ]:
a=int(input("Enter the first number: ")) 
b=int(input("Enter the second number: "))
c=int(input("Enter the third number: ")) 
if(a<=b and b<=c):   
  print(a)
 
elif(b<=a and b<=c):
  print(b)
else:
    print(c)

Enter the first number: 10
Enter the second number: 20
Enter the third number: 30
10

2

In [3]:
m = int(input('enter your marks:'))


if m >= 80:
  g ='A+'
elif m >=75:

  g ='A'
elif m>=70:
  g ='A-'   

elif m>=60:
  g ='B'
elif m>=40:
  g='D'
else:
  g ='F'
print('your grade is:',g)

enter your marks:60
your grade is: B

In [ ]:
#3

In [ ]:
a=int(input('Element 1'))
b=int(input('Element 2'))
c=int(input('Element 3'))
d=int(input('Element 4'))
e=int(input('Element 5'))


list=[a,b,c,d,e]
print(list)

list[0],list[1]=list[1],list[0]
#list.swap(int(input()),int(input()))#
print(list)

Element 11
Element 23
Element 34
Element 45
Element 54
[1, 3, 4, 5, 4]
[3, 1, 4, 5, 4]

In [ ]:
#4
emplyees={ 'emplyee1','emplyee2','emplyee3','emplyees4','emplyees5'  }

employee1 = {'ID': '77920 ', 'L N':'JCKSON' ,'F N': 'MICHEL','HIRE DATA': '11-29-997' }
employee2 ={'ID': '77921 ', 'L N':'JCKSON' ,'F N': 'MICHEL','HIRE DATA': '11-299-97' }
employee3 ={'ID': '77921 ', 'L N':'JCKSON' ,'F N': 'MICHEL','HIRE DATA': '11-299-97' }

employee4 ={'ID': '77921 ', 'L N':'JCKSON' ,'F N': 'MICHEL','HIRE DATA': '11-299-97' }


employee5={'ID': '77921 ', 'L N':'JCKSON' ,'F N': 'MICHEL','HIRE DATA': '11-299-97' }